/* ------------------------------- */
/* //* Product page */
/* ------------------------------- */
.container :global(.vtex-breadcrumb-1-x-link) {
  color: #0891d0;
  font-family: 'Roboto';
  font-weight: 100;
}
.arrow {
  color: #0891d0;
}
.homeLink::before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  color: #28508c;
  background-image: url('https://beisbol.vteximg.com.br/arquivos/home-icon-product.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-4px);
}
.term {
  color: #28508c;
  font-weight: 700;
}
.homeIcon {
  display: none;
}
/* ------------------------------- */
/* //* Search page */
/* ------------------------------- */
.arrow--Breadcrumb--Search {
  font-family: Urbanist;
  font-size: 15px;
  font-weight: 700;
}
/* ------------------------------- */
