/* ------------------------------- */
/* //* Home */
/* ------------------------------- */
/* ! Vitrina */
.sellingPrice {
  padding-bottom: 20px;
  padding-top: 10px;
  color: #000b45;
  font-family: Roboto;
  font-weight: 700;
  text-align: left;
}
.sellingPriceValue {
  margin-top: 10px;
  color: #16325b;
  font-family: Urbanist;
  font-size: 35px;
  font-weight: 700;
  text-align: left;
}
/* ------------------------------- */
/* //* product page */
/* ------------------------------- */
.sellingPrice {
  padding: 0;
}
.listPriceValue {
  color: #a7a7a7;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  text-align: left;
}
.listPrice {
  margin-bottom: 0;
  color: #a7a7a7;
  margin-right: 10px;
}
.savings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto !important;
  background-color: #acb8f5;
  border-radius: 3px;
}
.savingsPercentage {
  padding: 2px 5px;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

/* ------------------------------- */
/* //? Medias Query */
/* ------------------------------- */
@media (min-width: 1200px) {
  /* ! Vitrina */
  .sellingPriceValue {
    font-size: 25px;
  }
}

/* ------------------------------- */
/* .listPrice {
  color: #727273;
  margin-bottom: 0.25rem;
  font-size: 1rem;
} */

/* .sellingPrice {
  color: #3f3f40;
  font-size: 1.25rem;
} */

/* .sellingPriceValue {
  font-size: 2.25rem;
  font-weight: 700;
} */

.installments {
  color: #727273;
  margin-bottom: 1rem;
}

.savings {
  font-weight: 500;
  color: #79b03a;
}

.sellingPriceValue--summary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2e2e2e;
}

.savings--summary {
  background: #8bc34a;
  border-radius: 1000px;
  align-items: center;
  display: flex;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #ffffff;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #ffffff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.savings--summaryPercentage {
  background: #0f3e99;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #ffffff;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
