/* ------------------------------- */
/* //* Header */
/* ------------------------------- */
.logoContainer.sizeMobile {
  display: block;
  padding: 0 10px;
  padding-right: 0;
  max-width: 220px;
}
.logoImage {
  width: 300px;
}
@media (max-width: 900px) {
.logoImage {
  width: 190px;
}
.infoCardContainer--BannerTop__item {
  border-radius: 5px;
  height: 260px;
}
}
.searchBarContainer
  :global(.vtex-styleguide-9-x-input) {
  font-family: 'Urbanist';
}
/* ------------------------------- */
/* //* Footer */
/* ------------------------------- */
.imageElement--Footer__image {
  transition: 0.3s;
  width: 70%;
}
.imageElement--Footer__image:hover {
  opacity: 1;
}
.imageElement--Footer__image--payments {
  width: 90%;
  border-radius: 8px;
  filter: none;
  opacity: 1;
}
.imageElement--Footer__image--development {
  width: 160px;
}

.imageElementLink--Footer__image--company {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageElement--Footer__image--company {
  width: 65%;
  filter: none;
  opacity: 1;
}
/* ------------------------------- */
/* //* Home */
/* ------------------------------- */
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
.discountInsideContainer {
  display: none;
}
/* ! Top Slide */
.infoCardContainer--TopSlide__Item {
  width: 100%;
  height: 100%;
}
.infoCardSubhead--TopSlide__Item {
  margin-top: 0;
  color: #df209d;
  font-family: Urbanist;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}
.infoCardHeadline--TopSlide__Item {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  color: #000000;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}
/*
.infoCardTextContainer--TopSlide__Item::before {
  content: '';
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100px;
  height: 150px;
  background-image: url('https://beisbol.vteximg.com.br/arquivos/mobile-imagen-banner-principal.png');
  background-size: 100%;
  background-repeat: no-repeat;
}*/
.infoCardCallActionContainer--TopSlide__Item {
  margin-bottom: 40px;
}
.infoCardCallActionContainer--TopSlide__Item
  :global(.vtex-button) {
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-transform: initial;
  background-color: #28508c;
  border-color: #28508c;
  border-radius: 51px;
  transition: 0.3s;
}
.infoCardCallActionContainer--TopSlide__Item
  :global(.vtex-button):hover {
  background-color: #000b45;
  border-color: #000b45;
}
/* ! Category slide */
.infoCardCallActionContainer--CategorySlide__Item {
  width: 100%;
}
.infoCardContainer--CategorySlide__Item {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
.infoCardCallActionContainer--CategorySlide__Item {
  margin: 0;
  text-decoration: none;
}
.infoCardImageContainer--CategorySlide__Item {
  position: relative;
  width: 100%;
}
.infoCardImageContainer--CategorySlide__Item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;
  width: 100%;
  background-color: rgba(0, 22, 137, 0.3);
  background-size: 35%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  transition: 0.3s;
  opacity: 0;
}
.infoCardImageContainer--CategorySlide__Item--1::after {
  background-image: url('https://beisbol.vteximg.com.br/arquivos/cuidado-pisos-icono-home.png');
}
.infoCardImageContainer--CategorySlide__Item--2::after {
  background-image: url('https://beisbol.vteximg.com.br/arquivos/cuidado-hogar-icono-home.png');
}
.infoCardImageContainer--CategorySlide__Item--3::after {
  background-image: url('https://beisbol.vteximg.com.br/arquivos/cuidado-ropa-icono-home.png');
  background-size: contain;
}
.infoCardImageContainer--CategorySlide__Item--4::after {
  background-image: url('https://beisbol.vteximg.com.br/arquivos/cuidado-calzado-icono-home.png');
}
.infoCardImageContainer--CategorySlide__Item--5::after {
  background-image: url('https://beisbol.vteximg.com.br/arquivos/cuidado-cocina-icono-home.png');
  background-size: 50%;
}
.infoCardContainer--CategorySlide__Item:hover
  .infoCardImageContainer--CategorySlide__Item::after {
  opacity: 1;
}
.infoCardTextContainer--CategorySlide__Item {
  padding: 0;
  width: 100%;
}
.infoCardCallActionContainer--CategorySlide__Item
  :global(.vtex-button) {
  display: flex;
  color: #0891d0;
  background-color: transparent;
  border-color: transparent;
  font-family: Urbanist;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
  transition: 0.3s;
}
.infoCardContainer--CategorySlide__Item:hover
  .infoCardCallActionContainer--CategorySlide__Item
  :global(.vtex-button) {
  color: #28508c;
  font-weight: 700;
}
.infoCardCallActionContainer--CategorySlide__Item
  :global(.vtex-button__label) {
  padding: 0;
}
.infoCardImage--CategorySlide__Item {
  width: 100%;
  height: 100px;
  border-radius: 5px;
}

/* ! Top Banners */
.infoCardContainer--BannerTop__item {
  border-radius: 5px;
}
.infoCardHeadline--BannerTop__item--1 {
  color: white;
  font-family: Urbanist;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}
.infoCardSubhead--BannerTop__item--1 {
  margin-top: 0;
  padding: 0 9px;
  color: white;
  background-color: #28508c;
  font-family: Urbanist;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}
.infoCardCallActionContainer--BannerTop__item--1
  :global(.vtex-button) {
  background-color: transparent;
  border-width: 1px;
  border-radius: 100px;
  transition: 0.3s;
}
/*.infoCardCallActionContainer--BannerTop__item--1
  :global(.vtex-button):hover {
  background-color: white;
  border-color: white;
}*/
.infoCardCallActionContainer--BannerTop__item--1
  :global(.vtex-button__label) {
  padding: 10px 20px !important;
  color: #28508c;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: none;
}
.infoCardTextContainer--BannerTop__item--2 {
  margin-right: 170px;
}
.infoCardHeadline--BannerTop__item--2 {
  position: relative;
}
.infoCardHeadline--BannerTop__item--2 {
  color: white;
  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}
.infoCardCallActionContainer--BannerTop__item--2
  :global(.vtex-button) {
  background-color: white;
  border-color: white;
  border-width: 1px;
  border-radius: 100px;
  transition: 0.3s;
}
/*.infoCardCallActionContainer--BannerTop__item--2
  :global(.vtex-button):hover {
  background-color: #ededed;
  border-color: #ededed;
}*/
.infoCardCallActionContainer--BannerTop__item--2
  :global(.vtex-button__label) {
  padding: 10px 20px !important;
  color: #28508c;
  font-family: Urbanist;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

/* ! Bottom banners */
.infoCardTextContainer--BannerBottom__item--1 {
  justify-content: center;
  align-items: center;
}
.infoCardContainer--BannerBottom__item--1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.infoCardCallActionContainer--BannerBottom__item--1
  :global(.vtex-button) {
  background-color: #28508c;
  border-width: 1px;
  border-radius: 100px;
  transition: 0.3s;
}
.infoCardCallActionContainer--BannerBottom__item--1
  :global(.vtex-button):hover {
  background-color: #000b45;
}
.infoCardCallActionContainer--BannerBottom__item--1
  :global(.vtex-button__label) {
  padding: 15px 20px !important;
  color: white;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}
.infoCardContainer--BannerBottom__item--2 {
  display: flex;
  align-items: flex-end;
  padding: 30px 10px;
  width: 100%;
}
.infoCardContainer--BannerBottom__item--2::before {
  content: '';
  width: 40%;
  height: 210px;
  background-image: url('https://beisbol.vteximg.com.br/arquivos/mobile-imagen-banner-nueva-presentacion.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.infoCardTextContainer--BannerBottom__item--2 {
  margin-right: 0;
  width: 60%;
}
.infoCardHeadline--BannerBottom__item--2 {
  margin-top: 0;
  padding: 5px 10px;
  color: #28508c;
  background-color: white;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}
.infoCardSubhead--BannerBottom__item--2 {
  margin-top: 5px;
  padding: 5px 10px;
  color: #28508c;
  background-color: white;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

/* ! Newsletter */
.newsletter--Newsletter {
  margin-top: 40px;
  background-image: url('https://beisbol.vteximg.com.br/arquivos/banner-newsletter.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.container--Newsletter {
  padding: 40px 10px;
}
.inputGroup--Newsletter {
  flex-direction: column;
}
.label--Newsletter {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Urbanist;
  font-size: 55px;
  font-weight: 500;
  text-align: center;
}
.label--Newsletter::before {
  content: 'Recíbe';
  color: white;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.label--Newsletter::after {
  content: 'En tu primera compra';
  color: white;
  font-family: Urbanist;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;
}
.label--Newsletter .inputGroup {
  padding: 0 25px;
  color: #c5c5c5;
  background-color: white;
  border-radius: 100px;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  outline: none;
}
.form--Newsletter .inputGroup {
  padding-top: 0;
  align-items: center;
    margin-top: 30px;
}
.form--Newsletter .inputGroup::before {
  content: 'Suscríbete a nuestro Newsletter';
  margin-bottom: 27px;
  /* padding-top: 10px; */
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
}
.label--Newsletter .inputGroup::placeholder {
  color: #c5c5c5;
}
.inputGroup--Newsletter
  :global(.vtex-input)
  :global(.vtex-input-prefix__group) {
  border: none;
  height: 60px;
}
.buttonContainer--Newsletter {
  padding-top: 20px;
}
.inputGroup--Newsletter
  :global(.vtex-input)
  :global(.vtex-styleguide-9-x-input) {
  color: #c5c5c5;
  background-color: white;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  text-align: left;
  border-radius: 100px;
  padding: 20px;
  height: 50px;
}
.inputGroup--Newsletter
  :global(.vtex-input)
  :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #c5c5c5;
  font-size: 20px;
  font-weight: 100;
}
.inputGroup
  .buttonContainer--Newsletter
  :global(.vtex-button) {
  background-color: #28508c;
  border-width: 1px;
  border-color: #28508c;
  border-radius: 100px;
  transition: 0.3s;
}
.inputGroup
  .buttonContainer--Newsletter
  :global(.vtex-button):hover {
  background-color: #183054;
  border-color: #183054;
}
.inputGroup
  .buttonContainer--Newsletter
  :global(.vtex-button__label) {
    padding: 8px 35px!important;
    color: white;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    height: 50px;
    padding: 0;
}
.confirmationTitle--Newsletter {
  color: white;
  font-family: Urbanist;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}
.confirmationText--Newsletter {
  color: white;
  font-family: Urbanist;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

/* ------------------------------- */
/* //* Product page */
/* ------------------------------- */
.productNameContainer {
  margin-bottom: 10px;
  color: #28508c;
  font-family: Urbanist;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}
.productDescriptionTitle {
    font-size: 18px;
    margin: 25px 0 10px;
    font-weight: 100;
    color: #5791d9;
}
.productDescriptionContainer {
  margin-top: 20px;
}
.productDescriptionText {
  color: #0891d0;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}
.skuSelectorTextContainer {
  font-family: Urbanist;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}
.skuSelectorName {
  color: #0891d0;
  font-family: Urbanist;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  text-transform: capitalize;
}
.skuSelectorContainer {
  margin: 0 0 1rem;
}
.skuSelectorOptionsList {
  margin: 0;
}
.skuSelectorItem {
  margin: 0.25rem 0.5rem 0.25rem 0;
  background-color: white;
  box-shadow: 0px 4px 10px 0px #00000026;
  border-radius: 5px;
}
.skuSelectorItem--selected .frameAround {
  top: -0.1rem;
  left: -0.1rem;
  right: -0.1rem;
  bottom: -0.1rem;
  border: 1.9px solid #28508c;
  border-radius: 5px;
}
.productImageTag--main {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 15px 0px #0000001a;
}
.shippingContainer
  :global(.vtex-dropdown__label) {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  font-size: 20px;
  text-transform: capitalize;
  color: #8f8f8f;
}
.shippingContainer
  :global(.vtex-dropdown__container) {
  background-color: white;
  font-family: 'Urbanist';
  border-radius: 100px;
  border: 1px solid #8f8f8f;
}
.shippingContainer
  :global(.vtex-address-form__state) {
  padding-bottom: 15px;
}
.shippingContainer
  :global(.vtex-address-form__city) {
  padding-bottom: 12px;
}
.shippingContainer
  :global(.vtex-dropdown__arrow) {
  color: #8f8f8f;
}
.shippingContainer :global(.vtex-button) {
  padding: 10px;
  background-color: #8f8f8f;
  border-radius: 100px;
  border-width: 0;
}
.shippingContainer :global(.vtex-button__label) {
  color: white;
  font-family: Urbanist;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
}
.productImage {
 /* margin: 10px 25px;*/
  box-shadow: 0px 4px 15px 0px #0000001a;
  border-radius: 5px;
}
.swiper-pagination {
  bottom: 25px !important;
}
.swiperCaret {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #ededed;
  background-color: #ffffff !important;
  border-radius: 50%;
  box-shadow: 0px 0px 13px 0px #00000026;
  transition: 0.3s;
}
.swiperCaret:hover {
  color: #28508c;
}

/* ------------------------------- */
/* //* Search Page */
/* ------------------------------- */
.infoCardCallActionContainer--Search__Image {
  display: none;
}
.infoCardContainer--Search__Image {
  height: 240px;
}

/* ------------------------------- */
/* //* Politics Page */
/* ------------------------------- */
.infoCardContainer--Politics__Image {
  height: 202px;
}
.infoCardCallActionContainer--Politics__Image {
  display: none;
}

/* ------------------------------- */
/* //* About us Page */
/* ------------------------------- */
.infoCardCallActionContainer--About__Image {
  display: none;
}
.infoCardContainer--About__Image {
  height: 500px;
}
.imageElement--About__Image {
  width: 100%;
  height: 205px;
  border-radius: 10px;
  object-fit: cover;
}
.imageElement--About__Image--Text {
  height: 345px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--About__Socials)
  .imageElementLink--About__Image-Social {
  width: 50%;
}

/* ------------------------------- */
/* //? Medias Query */
/* ------------------------------- */
@media (min-width: 640px) {
  /* ! Banners bottom */
  .infoCardTextContainer--BannerTop__item--1 {
    margin-right: 0;
    width: 50%;
  }
  .infoCardTextContainer--BannerBottom__item--2 {
    margin-left: 0;
  }
  .infoCardHeadline--BannerTop__item--2::after {
    content: '';
    position: absolute;
    top: 50%;
    bottom: unset;
    right: -155px;
    width: 260px;
    height: 225px;
    background-image: url('https://beisbol.vteximg.com.br/arquivos/image banner-mas-aroma-para-tu-economia-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
  }
  .swiperCaretNext {
    right: 10px;
}
.swiperCaretPrev {
    left: 10px;
}
/*
  .swiperCaret {
    display: none;
  }
*/
  /* ! About us page */
  :global(.vtex-flex-layout-0-x-flexRowContent--About__Socials)
    .imageElementLink--About__Image-Social {
    width: 30%;
  }
}

@media (min-width: 800px) {
  /* ! Top Slider */
  .infoCardTextContainer--TopSlide__Item::before {
    width: 150px;
    height: 225px;
  }

  /* ! Newsletter */
  .newsletter--Newsletter {
    background-size: cover;
  }

  /* !Footer */
  .imageElement--Footer__image--company {
    width: 35%;
  }
}

@media (min-width: 900px) {
  /* ! Top banners */
  .infoCardContainer--BannerTop__item {
    width: 100%;
    height: 100%;
    background-size: contain !important;
    border: none;
  }
  .infoCardTextContainer--BannerTop__item {
    width: 70%;
  }
  .infoCardCallActionContainer--BannerTop__item--2 {
    margin-bottom: 0;
  }
  .logoLink--Header-Desktop__Logo {
    margin-left: 2px;
    margin-right: 70px;
}

}

@media (min-width: 1200px) {
  /* ! Header */
  .logoContainer--Header-Desktop__Logo {
    padding: 0;
  }
  .headerRowContainer--Header__Container {
    padding: 0 100px;
  }
  .searchBarContainer {
    width: 60% !important;
    max-width: 65%;
  }
  .searchBarInnerContainer {
    width: 85%;
}
  .autoCompleteOuterContainer
    :global(.vtex-input-prefix__group) {
    color: black;
    font-family: Urbanist;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    border-color: #f2f2f2;
    border-radius: 50px;
  }
  .autoCompleteOuterContainer :global(.vtex-input__suffix) {
    padding: 0 5px;
  }



  .searchBarIcon--search {
    color: #28508c;
  }

  /* ! Footer */


  .imageElementLink--Footer__image--company {
    justify-content: flex-start;
  }
  .imageElement--Footer__image--company {
    width: 80%;
  }
  .imageElement--Footer__image--payments {
    width: 100%;
    max-width: 150%;
  }

  /* ! Top Slide */
  .infoCardTextContainer--TopSlide__Item {
    position: relative;
    margin-top: 115px;
    margin-bottom: 60px;
    margin-left: 252px;
  }
  .infoCardTextContainer--TopSlide__Item::before {
    position: absolute;
    left: -180px;
    top: -20px;
  }
  .infoCardSubhead--TopSlide__Item {
    font-size: 85px;
    line-height: 77.26px;
  }
  .infoCardTextContainer--TopSlide__Item--2 {
    width: 35%;
  }

  /* ! Category Slide */
  .infoCardContainer--CategorySlide__Item {
    width: 100%;
  }
  .infoCardImage--CategorySlide__Item {
    height: auto;
  }
  .infoCardContainer--CategorySlide__Item
    .infoCardImageContainer--CategorySlide__Item--3::after {
    background-size: 28%;
  }

  /* ! Top Banners */
  .infoCardTextContainer--BannerTop__item {
    margin: 50px 40px;
  }

  /* ! Bottom Banners */
  .infoCardContainer--BannerBottom__item--1 {
    flex-direction: column-reverse;
  }
  .infoCardImageContainer--BannerBottom__item--1 {
    width: 70%;
  }
  .infoCardContainer--BannerBottom__item--2 {
    height: 100%;
  }
  .infoCardContainer--BannerBottom__item--2 {
    background-position-y: -40px;
  }
  .infoCardHeadline--BannerBottom__item--2 {
    font-size: 40px;
  }
  .infoCardSubhead--BannerBottom__item--2 {
    font-size: 40px;
  }
  .infoCardContainer--BannerBottom__item--2::before {
    height: 280px;
    background-image: url('https://beisbol.vteximg.com.br/arquivos/imagen-banner-nueva-presentacion-desktop.png');
  }
  .infoCardHeadline--BannerTop__item--2::after {
    right: -45%;
  }

  /* ! Newsletter */
  .container--Newsletter {
    padding: 50px 10px;
  }
  .newsletter--Newsletter {
    background-image: url('https://beisbol.vteximg.com.br/arquivos/newsletter.png');
  }
  .inputGroup--Newsletter {
    flex-direction: row;
  }
  .buttonContainer--Newsletter {
    padding-top: 5px;
    padding-left: 0;
  }
  .form--Newsletter {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    max-width: 100%;
  }
  .label--Newsletter {
    align-items: flex-start;
    font-size: 100px;
    text-shadow: 4px 4px 4px rgba(150, 150, 150, 1);
  }
  .label--Newsletter::before {
    font-size: 50px;
    text-shadow: 4px 4px 4px rgb(150 150 150);
    font-weight: 100;
  }
  .label--Newsletter::after {
    width: 60%;
    font-size: 30px;
    font-weight: 300;
  }
  .inputGroup--Newsletter {
    flex-direction: column;
    width: 55%;
  }
  .label--Newsletter::after {
    content: 'En tu primera compra suscríbete a nuestro Newsletter';
    text-align: start;
  }
  .form--Newsletter .inputGroup::before {
    content: '';
  }

  /* ! Product page */
  .productImagesGallerySlide {
    width: 100% !important;
  }

  /* ! About page */
  .imageElement--About__Image--Text {
    transform: translateX(25px);
  }
}

@media (min-width: 1500px) {
  /* ! Footer */
  .imageElement--Footer__image--payments {
    width: 100%;
  }
}

@media (min-width: 1700px) {
  /* ! Footer */
  .imageElement--Footer__image--company {
    width: 70%;
    max-width: 75%;
  }
}

@media (max-width: 1199px) {
  /* ! Footer */
  .imageElement--Footer__image--technology {
    filter: none;
    opacity: 1;
  }
  .imageElement--Footer__image--development {
    filter: none;
    opacity: 1;
  }
}

/* ------------------------------- */
.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

/* .newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
} */
/*
.newsletter .container {
  padding: 60px 10px;
} */

/* .label {
  color: #fff;
  font-size: 26px;
} */

.inputGroup {
  display: flex;
  color: #fff;
}

.inputGroup
  :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup
  :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

/* .inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
} */

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}
/*
.skuSelectorContainer {
  margin: 1rem 0;
} */

@media only screen and (min-width: 640px) {
  .infoCardContainer--info-card-home
    .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home
    .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview
  .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview
  .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview
  .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview
  .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}
/*
.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
} */

/* Estilos banner secundarios home*/

.infoCardTextContainer--BannerTop__item--1 {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}
.infoCardCallActionContainer--BannerTop__item--1 :global(.vtex-button) {
  width: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  height: 100%;
  border: none;
}
.infoCardTextContainer--BannerTop__item--2 {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}
.infoCardCallActionContainer--BannerTop__item--2 :global(.vtex-button) {
  width: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  height: 100%;
  border: none;
  background-color: transparent;
}

.imageElementLink--TopSlide__Item {
  width: 100%;
}
.imageElement--TopSlide__Item {
  width: 100%;
}


.confirmationTitle.confirmationTitle--Newsletter {
  margin-top: 80px;
}
.confirmationText.confirmationText--Newsletter {
  margin-bottom: 150px;
}














@media (max-width: 900px) {
.vtex-store-components-3-x-infoCardContainer--BannerTop__item--1 {
    background-size: 100% !important;
}
.vtex-store-components-3-x-infoCardContainer--BannerTop__item--2 {
  background-size: 100% !important;
}
.infoCardCallActionContainer--BannerTop__item--1 {
    width: 100%;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
}
.infoCardCallActionContainer--BannerTop__item--2 {
  width: 100%;
  height: 150px;
  min-height: 150px;
  max-height: 150px;
}
.newsletter--Newsletter {
  background-size: cover;
}
.label--Newsletter::after {
  line-height: 25px;
  font-weight: 100;
  font-size: 20px;
  margin: 10px;
}
.label--Newsletter {
  font-size: 50px;
}
.form--Newsletter .inputGroup {
  margin: 0;
}
.imageElement--Footer__image {
  width: 80%;
}
.imageElement--Footer__image--company {
  max-width: 200px;
}
.imageElement--Footer__image--technology {
  width: 65%;
}
.imageElement--Footer__image--development {
  width: 80%;
}
.productNameContainer {
  font-size: 20px;
}
.productDescriptionText {
  font-size: 13px;
}
.productDescriptionTitle {
  font-size: 15px;
}
}

.infoCardCallActionContainer--CategorySlide__Item--1 {
  padding: 180px 0 0 0;
  margin: -180px 0 0 0;
  z-index: 2;
}
.infoCardCallActionContainer--CategorySlide__Item--2 {
  padding: 180px 0 0 0;
  margin: -180px 0 0 0;
  z-index: 2;
}
.infoCardCallActionContainer--CategorySlide__Item--3 {
  padding: 180px 0 0 0;
  margin: -180px 0 0 0;
  z-index: 2;
}
.infoCardCallActionContainer--CategorySlide__Item--4 {
  padding: 180px 0 0 0;
  margin: -180px 0 0 0;
  z-index: 2;
}