/* ------------------------------- */
/* //* Product page */
/* ------------------------------- */
.product-identifier {
  color: #0891D0;
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
/* ------------------------------- */
@media (max-width: 900px) {
  .product-identifier {
    font-size: 14px;
  }
}