/* ------------------------------- */
/* //* Header */
/* ------------------------------- */
.label {
  display: block;
  padding: 0;
  color: #0891d0;
  font-family: Urbanist;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.buttonLink :global(.vtex-button) {
  border: 1px solid #28508c;
  border-radius: 100px;
}
.buttonLink :global(.vtex-button__label) {
  justify-content: flex-start;
  padding: 15px 20px !important;
}
.container :global(.relative) {
  width: 100%;
}
.container :global(.vtex-button):hover {
  background-color: transparent;
}
:global(.vtex-login-2-x-profile) {
  display: block;
  padding: 0;
  width: 100% !important;
  max-width: 200px;
  color: #28508c;
  font-family: Urbanist;
  font-size: 15px;
  font-weight: 700;
}

/* ------------------------------- */
/* //* Login Page  */
/* ------------------------------- */
.content--emailAndPassword {
  flex-direction: column;
  align-items: center;
}
.formTitle {
  font-size: 0;
  margin-bottom: 18px;
}
.loginOptionsContainer .formTitle::before {
  font-family: Urbanist;
  font-size: 19px;
  font-weight: 700;
  color: #28508c;
  content: 'Escoge una opci칩n para iniciar sesi칩n';
}
.emailVerification .formTitle::before {
  font-family: Urbanist;
  font-size: 19px;
  font-weight: 700;
  color: #28508c;
  content: 'Iniciar sesi칩n con eMail y contrase침a';
}
.eyeIcon--invisible {
  color: #28508c;
}
.forgotPasswordLink {
  font-family: Urbanist;
  font-size: 15px;
  font-weight: 400;
  color: #28508c;
}
.forgotPasswordLink:hover {
  text-decoration: underline;
}
.formFooter {
  padding-top: 30px;
}
.dontHaveAccount {
  margin: 15px;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 400;
  color: #0891d0;
}
.dontHaveAccount:hover {
  text-decoration: underline;
}
.accessCodeOptionBtn :global(.vtex-button) {
  background-color: #f8f8f8;
  border: 0;
  border-radius: 100px;
}
.accessCodeOptionBtn
  :global(.vtex-button__label) {
  font-size: 0;
}
.accessCodeOptionBtn
  :global(.vtex-button__label)::before {
  font-family: Urbanist;
  font-size: 15px;
  font-weight: 400;
  color: #28508c;
  content: 'Recibir codigo de acceso por email';
  text-transform: none;
}
.inputContainer
  :global(.vtex-input-prefix__group) {
  border: 0;
  background-color: #f8f8f8;
  border-radius: 100px;
}
.inputContainer
  :global(.vtex-styleguide-9-x-input) {
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 400;
  color: #dcdcdc;
}
.sendButton :global(.vtex-button) {
  background-color: #28508c;
  border-color: #28508c;
  border-radius: 100px;
  padding: 6px;
}
.sendButton
  :global(.vtex-button__label)
  :global(.t-small) {
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 600;
}
.emailPasswordOptionBtn {
  margin: 0 20px;
}
.emailPasswordOptionBtn :global(.vtex-button) {
  border: 0;
  border-radius: 100px;
}
.emailPasswordOptionBtn
  :global(.vtex-button__label) {
  font-family: Urbanist;
  font-size: 17px;
  font-style: normal;
  color: #28508c;
}

/* //? Medias Query */
/* ------------------------------- */
@media (min-width: 1200px) {
  /* ! Header */
  .label {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  .container
    :global(.vtex-button__label)::before {
    content: '';
    margin-right: 12px;
    width: 25px;
    height: 25px;
    background-image: url('https://beisbol.vteximg.com.br/arquivos/icono-usuario-header.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  :global(.vtex-login-2-x-profile) {
    color: #0891d0;
    font-weight: 500;
  }
  .content--emailAndPassword {
    flex-direction: row;
    align-items: flex-start;
    padding: 3rem 10px 10rem;
    max-width: 55rem;
  }
}
/* ------------------------------- */
