/* ------------------------------- */
/* //* Product page */
/* ------------------------------- */
.product-identifier {
  color: #0891D0;
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
/* ------------------------------- */
