.productListUnavailableItemsMessage {
  color: #28508c;
  font-family: Urbanist;
  font-size: 17px;
  font-weight: 700;
  border-bottom: 1px solid #28508c;
}
.productListAvailableItemsMessage {
  color: #28508c;
  font-family: Urbanist;
  font-size: 17px;
  font-weight: 700;
  border-bottom: 1px solid #28508c;
}
.unitPriceMeasurementUnit,
.unitPricePerUnitCurrency {
  font-family: 'Urbanist';
  font-size: 13px;
  font-weight: 700;
}
