/* ------------------------------- */
/* //* Home */
/* ------------------------------- */
/* ! Vitrina */
.element--ProductShelfHome {
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0;
  transition: 0.5s;
}
.element--ProductShelfHome:hover {
  background-color: white;
  border-color: #28508c;
  box-shadow: 0px 0px 15px 0px #00000026;
}
.element--ProductShelfHome .brandName {
  display: -webkit-box;
  color: #28508c;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.element--ProductShelfHome :global(.vtex-button) {
  margin-top: 15px;
  background-color: #28508c;
  border-color: #28508c;
  border-radius: 100px;
  transition: 0.3s;
}
.element--ProductShelfHome
  :global(.vtex-button):hover {
  background-color: #183054;
  border-color: #183054;
}
.element--ProductShelfHome
  :global(.vtex-button__label) {
  padding: 10px 0 !important;
}
.image {
  width: 100%;
  min-height: 290px;
  object-fit: contain;
}

/* ------------------------------- */
/* //? Medias Query */
/* ------------------------------- */
@media (min-width: 1200px) {
  /* ! Vitrina */
  .brandName {
    font-size: 17px;
  }
}
@media (max-width: 1200px) {
  /* ! Vitrina */
  .element--ProductShelfHome {
    border-color: #28508c;
  }
}

/* ------------------------------- */
.skuSelectorContainer--quickview
  .skuSelectorItemImage
  .frameAround,
.skuSelectorContainer--quickview
  .skuSelectorItemImage
  .skuSelectorInternalBox {
  border-radius: 50%;
}

.container
  :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover
  :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container
    :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brandName {
  font-weight: 600;
  font-size: 18px;
  color: #2e2e2e;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}
