/* ------------------------------- */
/* //* Politics Page */
/* ------------------------------- */
.container--Politics__Container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  padding: 0 15px;
}
.listContainer--Politics__Menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #28508c80;
}
.listItem--TabItem {
  margin: 0 0 15px;
  padding: 0;
}
.listItem--TabItem :global(.vtex-button) {
  width: 100%;
  background-color: transparent;
  border: 0;
}
.listItem--TabItem :global(.vtex-button__label) {
  justify-content: flex-start;
  padding: 0 !important;
  color: #0891d0;
  font-family: Urbanist;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}
.listItemActive--TabItem
  :global(.vtex-button__label) {
  color: #28508c;
}
.contentContainer--Politics__Content {
  margin: 30px 0 50px;
  padding: 10px;
  background-color: #f8f8f8;
  width: 100%;
  max-height: 1000px;
  border-radius: 10px;
  overflow-y: auto;
}
.contentContainer--Politics__Content::-webkit-scrollbar {
  width: 20px;
}
.contentContainer--Politics__Content::-webkit-scrollbar-track {
  background: #28508c80;
  border-left: 9px solid white;
  border-right: 9px solid white;
}
.contentContainer--Politics__Content::-webkit-scrollbar-thumb {
  background: #28508c;
  border-left: 7px solid white;
  border-right: 7px solid white;
}
.contentContainer--Politics__Content::-webkit-scrollbar-thumb:hover {
  border-left: 5px solid white;
  border-right: 5px solid white;
}

/* ------------------------------- */
/* //? Media Queries*/
/* ------------------------------- */
@media (min-width: 1200px) {
  /* ! Politics page */
  .container--Politics__Container {
    flex-direction: row;
    margin-bottom: 50px;
    padding: 0 100px;
  }
  .listContainer--Politics__Menu {
    justify-content: flex-start;
    padding-right: 40px;
    padding-bottom: 0;
    width: 40%;
    border-right: 1px solid #28508c80;
    border-bottom: 0;
  }
  .contentContainer--Politics__Content {
    margin-top: 0;
    margin-left: 40px;
    margin-bottom: 0;
    padding: 35px;
    width: 60%;
  }
}

@media (min-width: 1500px) {
  .listContainer--Politics__Menu {
    width: 30%;
  }
  .contentContainer--Politics__Content {
    width: 70%;
  }
}
/* ------------------------------- */
